<ActionBar title="Sensors Example" backgroundColor="#666666"></ActionBar>
<FlexboxLayout flexGrow="1" backgroundColor="#666666" alignItems="center" justifyContent="center"
               flexDirection="column">
  <FlexboxLayout flexDirection="row">
    <FlexboxLayout class="m-5 box" [nsRouterLink]="['/compass']">
      <label text="Magnetometer"></label>
    </FlexboxLayout>
    <FlexboxLayout class="m-5 box" [nsRouterLink]="['/accelerometer']">
      <label text="Accelerometer"></label>
    </FlexboxLayout>
  </FlexboxLayout>
  <FlexboxLayout flexDirection="row">
    <FlexboxLayout class="m-5 box" [nsRouterLink]="['/barometer']">
      <label text="Barometer"></label>
    </FlexboxLayout>
    <FlexboxLayout class="m-5 box" [nsRouterLink]="['/gyroscope']">
      <label text="Gyroscope"></label>
    </FlexboxLayout>
  </FlexboxLayout>
</FlexboxLayout>
